.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e9e9e9;
}

.container a {
    color: #000;
    text-decoration: none;
}

.container a:hover {
    color: #777;
}

.title {
    font-size: 24px;
}

.navbar {
    background-color: #000;
    color: white;
    padding: 10px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin-right: 10px;
}

.navbar-link {
    text-decoration: none;
    color: white;
}

.navbar-button {
    background-color: #777;
    border: none;
    color: white;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
    }

    .navbar-menu {
        margin-top: 10px;
    }

    .navbar-item {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .navbar-menu li {
        margin-bottom: 10px;
    }
}

.home-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.songs-list {
    list-style: none;
    padding: 0;
}

.song-item {
    margin-bottom: 20px;
    background-color: #747272;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*.song-item:hover {
    background-color: #bcb0b0;
}*/

.add-song-button {
    padding: 20px 40px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.add-song-button:hover {
    background-color: #625f5f;
}

.page-title {
    font-size: 24px;
    margin-bottom: 20px;
    justify-content: center;
    color: #000;
}

.song-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.song-image img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 8px;
}

.add-song-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    /*background-color: #e9e9e9;*/
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000;
}

.btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.btn-primary {
    background-color: #000;
    color: #fff;
}

.btn-primary:hover {
    background-color: #222;
}

.btn-primary:active {
    background-color: #444;
}

.btn-primary:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

.error-message {
    color: #ff0000;
    margin-top: 10px;
}

.user-profile {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #e9e9e9;
}

.user-profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.user-profile h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.user-profile p {
    margin-bottom: 20px;
}

.user-profile .email-label {
    font-weight: bold;
}

.user-profile .name-label {
    font-style: italic;
    color: #272323;
}
